<div class="tree-menu-wrap" id="tree-menu">
  <ul >
    <li>
      <a href="{{configHost}}/back" >测试</a>
    </li>
    <li>
      <a href="#">产品管理</a>
      <ul>
        <li>
          <a href="{{configHost}}/back/products" >产品列表</a>
        </li>
        <li>
          <a href="{{configHost}}/back/product" >产品增加</a>
        </li>
      </ul>
    </li>  
  </ul>
</div>