<footer class="container">
    <p>粤ICP备14006522号</p>
</footer>
<script src="/js/common/seajs/??2.1.1/sea.js,seajs-combo/1.0.1/seajs-combo.js,seajs-style/1.0.2/seajs-style.js,../jquery/1.11.0/jquery.min.js"></script>
<script>
  seajs.config({
    alias:{
      "jquery": "jquery/1.11.0/jquery.min"
    }
  });
</script>










