ul.posts {
  list-style: none;
}
.post-tag {
  float: left;
  margin: 0 20px 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.post-tag .badge {
  margin-left: 5px;
}
.archive {
  padding: 50px 0 0 0;
  position: fixed;
}
.page-footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
/** artical详情页 **/
.artical > p {
  text-indent: 2em;
}
