body {
  background: #757D8A;
}
.posts {
  list-style: none;
  padding: 20px;
}
ul li {
  position: relative;
  padding: 10px 0 10px 20px;
  margin: 0 0 20px 0;
  background: #333333;
  color: #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
ul li > .glyphicon {
  position: absolute;
  left: 8px;
  top: -5px;
}
ul li > dl {
  margin: 0 ;
}
ul li > dl dt {
  line-height: 30px;
}
ul li > dl dd {
  line-height: 24px;
}
ul li > dl dd > .glyphicon {
  padding-right: 5px;
}
ul li > dl dd a {
  padding-right: 10px;
}
