header
 .container
  .row
   .col-md-3
    a(href="http://www.yyper.com")
     img(src="/img/common/yyper-logo.png")
   .col-md-6
     .input-group
      input.form-control(type="text")
      span.input-group-btn
       button.btn.btn-default(type="button") 搜索


