{{#extend 'stylesheets'}}
<style>
.tags-wrap{
  padding: 20px;
}
.tags-wrap a{
  float: left;
  margin: 0 20px 10px 0;
  
}
</style>
{{/extend}}
{{#extend 'scripts'}}

{{/extend}}
<div class="tags-wrap">
  {{#each posts}}
  <a href="{{this.href}}" target="_blank">{{this.postName}}</a>
  {{/each}}
</div>