extends layout
block content
 .container
  .row
   .col-md-4
     <button type="button" class="btn btn-success" id="posts-update-db">文章更新到数据库</button>
   .col-md-8

append footer
  script(type="text/javascript").
    seajs.config({
        base: '/js/common',
        paths: {
          projectBase: '/js/back/'
      }
    });
    seajs.use(['projectBase/index'], function(){
      
    });
