
{{#extend 'stylesheets'}}

{{/extend}}
{{#extend 'scripts'}}
<script src="/js/back/index.js"></script>
{{/extend}}

<button type="button" class="btn btn-success" id="posts-update-db">文章更新到数据库</button>