extends layout
block content
 .container
  .row
   .col-md-4
     <button type="button" class="btn btn-success" id="posts-update-db">文章更新到数据库</button>
   .col-md-8

block append footer
 script(src='/js/back/index.js')
