<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="/css/normalize/2.1.3/normalize.css" rel="stylesheet" />
  <link href="./main.css" rel="stylesheet" />
  <title>express router 测试</title>
</head>
<body>
  <div>
    请输入路由path：<input id="path" placeholder="请输入路由path" value="/user/:id/:name">
  </div>
  <div>
    请输入测试的url：<input id="urls" placeholder="请输入测试的url" value="/user/123/tom">
  </div>
 <button id = "post">查看测试信息</button>  
 
<script src="/js/common/seajs/2.1.1/sea.js"></script>
<script>
seajs.use(['jquery/1.11.0/jquery.min','underscore/1.5.2/underscore.min'],function($, _){


$("#post").click(function(){
  var path =  encodeURIComponent($.trim($("#path").val()));
  var urls =  encodeURIComponent($.trim($("#urls").val()));
  
  if (path == "" || urls == ""){
    alert("请输入测试的内容");
    return ;
    
  }
  $.ajax({
    url: "/test/why-can-we-write-the-express-router-in-that-way/"+path + (urls && ("/"+urls)),
    dataType: "text"
  })
    .done(function(data){
      alert(data);
    })
    .fail(function(err){
      alert(err);
    });
  
});


});
</script>
</body>
</html>