@import "lesshat-prefixed";

ul{
  list-style: none;
}
  
.post-tag{
  float: left;
  margin: 0 20px 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  .lh-border-radius(5px);
  .badge{
    margin-left: 5px;
  }
}

.archive{
  position: fixed;
  top: 80px;
  
}

.page-footer{
  height: 100px;
  line-height: 100px;
  text-align: center;
}


